- if err = error?
  - content_for :html_foot do
    :javascript
      alert("error: #{err}");

- content_for :header do
  %h1= app_name

- unless @user
  sample application for
  %a{:href => "http://developer.github.com/v3/oauth/#web-application-flow"}
    GitHub API v3
  %h2 Please Login
- else
  %h2 Your Gists
  %ul
    - @github["gists"].each do |gist|
      %li
        - title = gist["description"].empty? ? gist["html_url"] : gist["description"]
        %a{:href => gist["html_url"]}= title
  %h2 Your Repos
  %ul
    - @github["repos"].each do |repo|
      %li
        %a{:href => repo["html_url"]}= repo["full_name"]
        - unless repo["description"].empty?
          %br
          %span= repo["description"]
